<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="styles.css">

    <title>News</title>
  </head>
  <body>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1>What's Happening</h1>
        </div>
    </div>

    <div class="container mt-5">
        <h2><i class="fas fa-sun"></i>Weather</h2>
        <h3>Today</h3>
            <p> At the Wilson L stop in Chicago, it is currently <%= @currenttemp %> degrees with <%= @currentdesc %> </p>
        <h3>Eight-Day Extended Forecast </h3>
            <p>
                <% for dailyforecast in @extended %>
                <p> <%= dailyforecast %>  </p>
                <% end %>
            </p>
    </div>
    
    <hr class="my-10">
    
    <div class="container mt-5">
        <h2><i class="far fa-newspaper"></i>Headlines</h2>
            <p> 
                <% for post in @headline %>
                <p> <%= post %> </p> 
                <% end %>
            </p>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>